* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  list-style-type: none;
}

html {
  background-color: rgb(56, 56, 56);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;
  background-color: rgb(145, 145, 145);
}
.header {
  background-color: rgb(231, 231, 231);
  height: 100px;
}
.navigation {
  margin: 0 30px;
  height: 100%;
}
.nav-links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main {
  background-color: rgb(177, 177, 177);
  height: 100%;
}
.footer {
  height: 50px;
  background-color: rgb(88, 88, 88);
}